stages:
  - build
  - migrations-users

build:
  stage: build
  tags:
    - docker
  script: 
    - docker build -t $CI_REGISTRY/gateway/$CI_COMMIT_SHA .
    - docker push $CI_REGISTRY/gateway
  when: manual

migrations-users:
  stage: migrations-users
  image: node:iron-alpine3.22
  tags: 
    - docker
  script:
    - npm add --global nx
    - npx nx migration:run user-service
  rules:
    - if: '$CI_COMMIT_TAG =~ /^v\d+\.\d+\.\d+$/'
      when: manual