stages:
  - build
  - migrations

build:
  stage: build
  tags:
    - docker
  script: 
    - docker build -t $CI_REGISTRY/gateway/$CI_COMMIT_SHA .
    - docker push $CI_REGISTRY/gateway
  when: manual

migrations:
  stage: migrations
  image: node:iron-alpine3.22
  tags: 
    - docker
  script:
    - npm i
    - echo success
  only:
    - main
  when: manual