stages:
  - build
  - migrations-users

build:
  stage: build
  tags:
    - docker
  script: 
    - docker build -t $CI_REGISTRY/gateway/$CI_COMMIT_SHA .
    - docker push $CI_REGISTRY/gateway
  when: manual

migrations-users:
  stage: migrations-users
  image: igorfilin/node20_vault:v1.0
  tags: 
    - docker
  variables:
    VAULT_ADDR: $VAULT_ADDR
  script:
    - echo $VAULT_ROLE_ID
    - echo $VAULT_SECRET_ID
    - VAULT_TOKEN=$( vault write -field=token auth/approle/login role_id="$VAULT_ROLE_ID" secret_id="$VAULT_SECRET_ID" )
    - echo $VAULT_TOKEN 
    - DATA=$(vault kv get kv/external-secrets)
    - echo $DATA
    - npm add --global nx
    - npx nx migration:run user-service
  # rules:
  #   - if: '$CI_COMMIT_TAG =~ /^v\d+\.\d+\.\d+$/'
  #     when: manual