stages:
  - check-affected-diff
  - build-push
  - migrations-users

cache:
  key: 
    files: 
      - package-lock.json
  paths:
    - .npm

before_script:
  - npm ci --cache .npm --prefer-offline

check-affected-diff:
  stage: check-affected-diff
  image: node:20-alpine
  cache: {}
  script:
    - apk add --no-cache bash git
    - npm add --global nx
    - chmod +x ./scripts/affected.sh
    - ./scripts/affected.sh > servers_affected.txt
  artifacts:
    paths:
      - servers_affected.txt 
    expire_in: "10 mins"
  rules:
    - if: $CI_COMMIT_TAG =~ /^v\d+\.\d+\.\d+$/
      when: manual

build-push:
  stage: build-push
  image: quay.io/buildah/stable
  cache: {}
  variables:
    STORAGE_DRIVER: vfs
    BUILDAH_FORMAT: docker
    IMAGE_TAG: $CI_COMMIT_TAG
    FQ_IMAGE_NAME: "registry.gitlab.com/igorfilin"
  before_script:
    - echo "$CI_REGISTRY_PASSWORD" | buildah login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  script:
    - chmod +x ./scripts/build_deploy.sh
    - ./scripts/build_deploy.sh ./servers_affected.txt "$FQ_IMAGE_NAME" "$CI_COMMIT_TAG"
  dependencies:
    - check-affected-diff
  rules:
    - if: $CI_COMMIT_TAG =~ /^v\d+\.\d+\.\d+$/
      when: manual

migrations-users:
  stage: migrations-users
  image: igorfilin/node20_vault:v1.1
  tags: 
    - docker
  variables:
    VAULT_ADDR: $VAULT_ADDR
  script:
    - which jq
    - echo "Проверка доступности Vault..."
    - curl -sf "$VAULT_ADDR/v1/sys/health"
    - export VAULT_TOKEN=$( vault write -field=token auth/approle/login role_id="$VAULT_ROLE_ID" secret_id="$VAULT_SECRET_ID" )
    - JSON_DATA=$(vault kv get -mount=kv -format=json external-secrets)
    - echo "$JSON_DATA" | /usr/bin/jq -r '.data.data | to_entries[] | "\(.key)=\"\(.value // "null")\""' > .env
    - npx nx migration:run user-service
  rules:
    - if: '$CI_COMMIT_TAG =~ /^v\d+\.\d+\.\d+$/'
      when: manual